# Build
bin/
obj/

# User-specific
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS Code / Rider
.vscode/
.idea/

# Logs
*.log

# Config sensible
appsettings.*.json

# Publish
*.publish.xml
*.pubxml
*.pubxml.user
