@model List<System.IO.FileInfo>

<head>
    <link rel="stylesheet" href="~/css/espace_perso.css" asp-append-version="true" />
</head>

<h2>Espace Support - Documents PDF</h2>

<ul>
@foreach (var file in Model)
{
    <li>
        <a href="~/docs/@file.Name" target="_blank">@file.Name</a>
        - Créé le @file.CreationTime.ToString("dd/MM/yyyy HH:mm")
    </li>
}
</ul>
