@model List<System.IO.FileInfo>
@using System.IO


<head>
    <link rel="stylesheet" href="~/css/espace_perso.css" asp-append-version="true" />
</head>

<div class="espace-container">
    <h2>Espace Support - Documents PDF</h2>

    <div class="files-grid">
        @foreach (var file in Model)
        {
            <div class="file-card">
                <div class="file-icon">📄</div>
                <div class="file-info">
                        @{

    var parts = System.IO.Path.GetFileNameWithoutExtension(file.Name).Split('_');
    string enseigne = parts.Length >= 4 ? parts[3] : file.Name; 
}
<a href="~/docs/@file.Name" target="_blank" class="file-link">@enseigne</a>
                    <span class="file-date">Créé le @file.CreationTime.ToString("dd/MM/yyyy HH:mm:ss")</span>
                </div>
            </div>
        }
    </div>
</div>
