@model List<projet_one.Models.User>

<h2>Liste des demandes</h2>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Nom de l'enseigne</th>
            <th>Email</th>
            <th>Téléphone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.Nom_enseigne</td>
                <td>@u.Email</td>
                <td>@u.Telephone</td>
            </tr>
        }
    </tbody>
</table>
